*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#div{
    position: fixed;
    top: 20px;
    right: 20px;
}
#div::before{
    content: '';
    display: block;
    position: absolute;
}
#div::after{
    content: '';
    display: block;
    position: absolute;
}

#html{
    word-break: break-all;
}

@media (max-width: 500px) {
    #html{
        height: 50vh;
        overflow: auto;
        padding: 5px;
    }
    #wrapper{
        height: 50vh;
        border-bottom: 1px solid #dddddd;
    }
    #div{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    
}